<div id="appbar-container" class="shadow1"></div>

<div class="vappbar">&nbsp;</div>

<div id="sidemenu" class="swiperight" action="menu?action=hide">
	<div>
		<div class="sidemenucontent shadow2">
			<div class="sidemenuhead">
				<div>Open Pet Tracker</div>
			</div>
			<div id="sidemenubody" class="sidemenubody">
				
			</div>
		</div>
		<div class="sidemenuoverlay tap" action="menu?action=hide"></div>
	</div>
</div>

<div id="content"></div>

<table id="ModalDialog" class="closed inback">
	<tr>
		<td class="padding">
			<div class="modalback tap closeperm preventDefault" action="ModalDialog.close"></div>
			<div class="dialogbox shadow">
				<div id="ModalDialogTitle" class="padding half"></div>
				<div id="ModalDialogContent" class="padding half"></div>
			</div>
		</td>
	</tr>
</table>
